@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f5f5dc;
}

/*       ScrollBar 1        */

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
  border: 1px solid white;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  @apply bg-brand;
}

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
  border: 1px solid white;
}

body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  @apply bg-brand;
}

/* tr td {
    @apply text-[10px];
  } */

/* .table-registers tr {
  @apply rounded-[10px] h-[60px] bg-white text-sidebar border  !important;
  border-collapse: separate !important;
  border-spacing: 10px !important;
}
.table-registers tr th,
td {
  @apply p-5 text-[15px];
}

.table-registers tr td {
  @apply text-sm;
} */
